<html>
    <head>
        <title></title>
        <script src="//javascript-test-ohjeung.c9users.io/assets/facebook.js"></script>
        <script  src="assets/script.js"></script>
    </head>
    <body>
        
        <input type="button" id="hw" value="클릭" />
        <button class="sharing">공유하기</button>
    </body>
</html>

